<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/styles.css?token=<%= token %>">
    <link rel="stylesheet" type="text/css" href="/css/resetPassword.css?token=<%= token %>">
    <link rel="icon" type="image/png" href="images/tab-icon.png" />
    <script src="/script/javascript.js?token <%= token %>"></script>
    <script src="/script/resetPassword.js?token <%= token %>"></script>
    <title>Rawverry</title>
</head>
<body>
    <div class="reset-wrapper">
        <form action="/password-reset/<%= token %>" method="POST">
            <h1>Reset Your Password</h1>
            <div class="password-wrapper">
                <p class="subheader password">Password</p>
                <input class="password-field" name="password" type="password" placeholder="Your Password"></input>
            </div>
            <div class="password-wrapper">
                <p class="subheader password">Repeat Password</p>
                <input class="password-field" name="repeat-password" type="password" placeholder="Your Password"></input>
            </div>

            <button class="button">Reset Password</button>
        </form>

        <div class="reset">
            <h1>Success!</h1>
            <p>Your Password has been reset successfully!</p>
            <div>
                <p class="back-button button">Login</p>
            </div>
        </div>

    </div>
</body>
</html>